body{font-family: 'Lora', serif;
}

/*** navbar ***/

.nav_item{
            letter-spacing:.2em;
            font-size:14px;
            text-transform:uppercase;
            }

.dropdown-item{
             letter-spacing:.2em;
            font-size:14px;
            text-transform:uppercase;
            }

.my_footer{
        background-color:#f8f9fa;
        height:20px;
        }
.my_footer p{padding-top:8px;
             font-size:8px;
             padding-bottom:8px;
             text-align:center;
             letter-spacing:.1em;
             }
/*** category page ***/

.my_row_class{ padding-top:15px;
                }
.my_row_class .mx_auto{
            color:#000;
            font-size:12px
            }
.my_image{
            width:100%;
            height:auto;}
.my_title{
           font-size:16px;
           text-transform:uppercase;
           letter-spacing:.2em;
           }
.my_image_padding{
         padding:5px;
         }


/*** produuct page ***/
.my_prod_row_class {
padding-top:1px;
padding-bottom:20px;}

my_prod_row_class .mx_auto{
color:#000;
font-size:12px;
text-decoration:none;}

.my_prod_title{
font-size:32px;
text-transform:uppercase;
letter-spacing:.1em;
padding-top: 15px;
padding-bottom:10px;
}

.my_prod_text{
padding_right:20px;
}


.my_search_text{padding-top:20px}

.my_card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
.my_custom_table {
    /* Your table styles here */
    min-width: 400px; font-size: 14px;
}

.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
     background-color: #f8f8fa ;
}
.custom_a{
    text-decoration:none;
    }

.custom_icon{
text-decoration:none;
color: #8686e ! important ;
}
.my_custom_button{
    margin-top:15px;
    vertical-align: baseline;
    }


.custom-img {
    width: 100%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width if necessary */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
